{{!
{
	'name' : 'popup',
	'description' : 'Popup window',
	'styles' : ['css/popup.css']
}
}}
<div class="actions">
	<a href="http://buildreactor.uservoice.com/" target="_blank" title="Feedback..."><img src="../img/feedback.png" alt="Feedback" /></a>
	<a href="options.html" target="_blank" title="Configuration..."><img src="../img/tool.png" alt="Options" /></a>
</div>
{{#if services}}
<ul class="info-list">
	{{#each services}}
	<li class="info">
		<div class="service-name">{{name}}</div>
		<ul class="service-item-list">
			{{#each items}}
			{{#if isBroken}}
			<li class="service-item build-broken">
				<a href="{{url}}" target="_blank">
					<span class="service-item-name">{{name}}</span>
					{{#if group}}<span class="service-group">{{group}}</span>{{/if}}
				</a>
			</li>
			{{else}}
			<li class="service-item">
				<a href="{{url}}" target="_blank">
					<span class="service-item-name">{{name}}</span>
					{{#if group}}<span class="service-group">{{group}}</span>{{/if}}
				</a>
			</li>
			{{/if}}
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
{{else}}
<div class="no-services-message">No services configured</div>
{{/if}}
