<div class="accordion" id="projects-accordion">
	<%
	for(var projectIndex = 0; projectIndex < projects.length; projectIndex++) {
		var project = projects[projectIndex];
	%>
	<div class="accordion-group">
		<div class="accordion-heading project">
			<a class="accordion-toggle" data-toggle="collapse" href="#plans-<%= projectIndex %>"><%= project.name %></a>
		</div>
		<div class="accordion-body collapse" id="plans-<%= projectIndex %>">
			<div class="accordion-inner">
				<%
				for(var planIndex = 0; planIndex < project.plans.plan.length; planIndex++) {
					var plan = project.plans.plan[planIndex];	
				%>
					<label class="checkbox plan" for="<%= plan.key %>">
						<input type="checkbox" <% if (!plan.enabled) { %>disabled="disabled"<% } %> name="<%= plan.key %>" id="<%= plan.key %>" <% if (selectedPlans.indexOf(plan.key) > -1) { %>checked="checked"<% } %>/>
						<span><%= plan.shortName %></span>
					</label>
				<%
				}
				%>
			</div>
		</div>
	</div>
	<%
	}
	%>
</div>